/* basic */
html, 
body{
  font-family:"Helvetica Neue",　YuGothic, 'Noto Sans JP', sans-serif;
}
.icon.icon-close{
  fill: black;
}
a:hover{
  opacity: 0.7;
}
/* header */
header.header{
  padding-top: 35px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#shopify-section-announcement-bar{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 30px;
  right: 0;
}
.announcement-bar {
  border: none;
}
.announcement-bar__link .announcement-bar__message{
  font-weight: 700;
  font-size: 1.2rem;
}
.announcement-bar__link:hover{
  background-color: transparent;
}
.announcement-bar__link{
  position: relative;
  padding: 0 30px;
}
.announcement-bar__link::before{
  content: '';
  width: 30px;
  height: 30px;
  background: url(../assets/icon_flower1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.announcement-bar:nth-child(even) .announcement-bar__link:before{
  content: '';
  width: 30px;
  height: 30px;
  background: url(../assets/icon_flower2.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.announcement-bar:nth-child(even) .announcement-bar__link:after{
  content: '';
  width: 15px;
  height: 15px;
  background: url(../assets/icon_link.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);

}
.header__inline-menu{
  background: #FFF8F5;
  border-bottom: 2px solid #EA9573;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 6px;
  margin-top: 0!important;
}
.header__menu-item span{
  font-weight: 700;
  text-decoration: none;
}
.header__icon .icon {
  height: 1.8rem;
  width: 1.8rem;
}
.header__icon--cart .icon{
  height: 3.5rem;
  width: 3.5rem;
}
h1 .header__heading-link{
  padding: 0;
}
.header__menu-item:hover + .header__submenu{
  animation: animateMenuOpen var(--duration-default) ease;
  animation-fill-mode: forwards;
  opacity: 1;
  z-index: 1;
}
.header__menu-item:hover span,
details[open] > .header__menu-item{
  text-decoration: none;
}
details[open] > .header__submenu{
  border: none;
  border-bottom: 0;
  width: auto;
  background: transparent;
  padding: 0;
}
details[open] > .header__submenu li{
  background: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
details[open] > .header__submenu li:first-child{
  margin-top: 7px;
  border-top: 1px solid #cccccc;
}
details[open] > .header__submenu a {
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
  padding: 1rem;
  font-size: 1.2rem;
}
details[open] > .header__submenu a .menuarrow{
  max-width: 15px;
}
@media screen and (max-width: 768px) {
  header.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header--mobile-left .header__heading,
  .header--mobile-left .header__heading-link{
    width: 150px;
  }
  #menu-drawer{
    background-color: #FFF8F5;
    width: 100%;
  }
  .header__icon .icon {
    height: 2.8rem;
    width: 2.8rem;
  } 
  .header__icons{
    margin-right: 50px;
  }
  .header_bar{
    display: flex;
  }
  .menu-drawer{
    width: 100%;
    background: #FFF8F5;
  }
  #menu-drawer.menu-drawer .list-social{
    justify-content: center;
    margin-top: 4rem;
  }
  #shopify-section-announcement-bar{
    display: none;
  }
  .menu-drawer .list-social .list-social__link {
      padding: 0 5px;
  }
  .menu-drawer__utility-links .menu-drawer__account{
    display: block;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 1.6rem 1.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .list-social .list-social__item .icon {
    height: 4rem;
    width: 4rem;
  }
  #menu-drawer .menu-drawer__navigation {
    padding: 0.6rem 25px 0;
  }
  #menu-drawer .menu-drawer__navigation .menu-drawer__menu > li{
    border-bottom: 1px solid #cccccc;
  }
  #menu-drawer .menu-drawer__utility-links{
    padding: 0 25px;
  }
  #menu-drawer .menu-drawer__menu-item {
    padding: 1.6rem 1.2rem;
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
  } 
  .menuarrow{
    max-width: 20px;
    position: absolute;
    right: 10px;
  }
  .menuplus{
    max-width: 25px;
    position: absolute;
    right: 10px;
  }
  .menu-drawer__menu-item--active, 
  .menu-drawer__menu-item:focus, 
  .menu-drawer__close-button:focus, 
  .menu-drawer__menu-item:hover, 
  .menu-drawer__close-button:hover,
  .menu-drawer__utility-links{
    background-color: transparent!important;
  }
  .js .menu-drawer__navigation .submenu-open{
    visibility: visible!important;
  }
  .js .menu-drawer__submenu{
    position: inherit!important;
  }
  #menu-drawer .menu-drawer__submenu{
    background: #FFF8F5;
    border: none;
  }
  #menu-drawer .menu-drawer__inner-submenu .menu-drawer__menu > li{
    border-bottom: none;
  }
  #menu-drawer .menu-drawer__inner-submenu .menu-drawer__menu > li a{
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 4rem;
  }
  
}
@media screen and (min-width: 769px) {
  .header__inline-menu li > .list-menu__item{
    position: relative;
    padding-left: 20px;
    font-size: 1.3rem;
  }
  .header__inline-menu li > .list-menu__item::before,
  summary.header__menu-item.list-menu__item.link.focus-inset::before{
    content: '';
    background: #EA9573;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    left: 0;
  }
  .header__inline-menu li details .list-menu__item::before{
    content: none;
  }
  .list-menu--inline{
    position: relative;
  }
  ul.list-menu.list-menu--inline::after{
    content: '';
    background: #EA9573;
    width: 8px;
    height: 8px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
}


/* メインビジュアル */
.section_mainvisual{
  background: url(../assets/mv_bg_sp.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.section_mainvisual .banner{
  height: 200px;
  bottom: -130px;
  z-index: 2;
}
.section_mainvisual .banner__media{
  background-color: transparent;
}
.section_mainvisual .banner__box{
  position: absolute;
  top: -110px;
  font-size: 2rem;
  background: transparent;
  padding: 4rem 0;
}
.section_mainvisual .image-with-text__text{
  color: black;
  position: relative;
}
.section_mainvisual .image-with-text__text::before{
  content: '';
  background: url(../assets/mv_bg_yellow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 130px;
  position: absolute;
  top: 57%;
  left: 48%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section_mainvisual .banner__box strong{
  color: #F39800;
  font-size: 3rem;
  font-weight: 500;
}
.section_mainvisual .banner__box strong:last-child{
  color: #D96687;
}
@media screen and (min-width: 769px) {
  .section_mainvisual{
    background: url(../assets/mv_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 450px;
  }
  .section_mainvisual .banner__content::before{
    content: '';
    background: url(../assets/mv_flower_red.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 190px;
    height: 180px;
    position: absolute;
    top: -160px;
    left: 80px;
  }
  .section_mainvisual .banner__content::after{
    content: '';
    background: url(../assets/mv_flower_rose.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 220px;
    height: 200px;
    position: absolute;
    top: -160px;
    right: 80px;
  }
  .section_mainvisual .image-with-text__text{
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .section_mainvisual .banner__box strong{
    font-size: 4rem;
  }
  .section_mainvisual .banner{
    height: 300px;
    bottom: -195px;
  }
  .section_mainvisual .banner__media.media > img{
    max-height: 370px;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .section_mainvisual .image-with-text__text::before{
    width: 160px;
    height: 140px;
    top: 30%;
    left: 48%;
  }
}

/* footer */
footer.footer{
  background: #FFEBE3;
  position: relative;
  border-top: none;
}
footer.footer::before{
  content: '';
  background: url(../assets/mv_birds.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 110px;
  display: block;
  position: absolute;
  top: -60px;
}
.footer_contact{
  margin-bottom: 4rem;
}
.footer_contact a{
  color: white;
  background: #F39800;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 18px 0;
  border-radius: 40px;
  width: 100%;
  max-width: 270px;
  font-size: 1.7rem;
  margin: 0 auto;
}
.footer_contact a:hover{
  background: #BF7801;
  opacity: 1;
}
.footer_official{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_official a{
  width: 100%;
  padding: 2.5rem 0;
  background: white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
}
.footer_official span{
  font-size: 1.4rem;
}
.footer_official img{
  max-width: 170px;
}
footer .footer-block--newsletter{
  margin-top: 5rem;
}
.footer .list-social__item .icon {
  height: 5rem;
  width: 5rem;
}
.footer__copyright{
  color: #EA9573;
  margin-bottom: 10rem;
  font-size: 1.6rem;
}
.smoothscroll-top{
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  background: url(../assets/page_top.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 150px;
}
footer .footer__content-top{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0;
  margin-top: 4rem;
}
.footer__content-bottom{
  border-top: none;
  padding-top: 0;
}
.list-social__link{
  padding: 0.5;
}
.footer-block.grid__item{
  margin-top: 5rem;
}
.footer-block__details-content .list-menu__item--link::before{
  content: '';
  background: url(../assets/icon_flower3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}
footer .footer__content-bottom{
  border-top: none;
}
footer .footer__localization:empty + .footer__column{
  padding-top: 0;
}
.btn_arrow:hover{
  opacity: 1;
}
.btn_arrow{
  position: relative;

}
.btn_arrow::after{
  content: '';
  background: url(../assets/icon_arrow_wh.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 13px;
  height: 11px;
  display: block;
  position: absolute;
  left: auto;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
@media screen and (max-width: 768px){
  .btn_arrow{
    width: 100%;
  
  }
}
@media screen and (min-width: 769px){
  footer.footer::before{
    height: 230px;
    top: -64px;
  }
  footer .footer__content-top{
    margin-top: 15rem;
    max-width: 900px;
  }
  .smoothscroll-top{
    height: 110px;
  }
  footer .footer-block--newsletter {
      margin-top: 0rem;
  }
  .footer_contact a{
    padding: 15px 0;
    max-width: 240px;
  }
  .footer_official a{
    max-width: 280px;
    height: 72px;
  }
  .footer_official a span{
    font-size: 1.2rem;
  }
  .footer_flex{
    display: flex;
    justify-content: space-between;
  }
  .footer-block__details-content .list-menu__item--link{
    position: relative;
    padding-left: 2.5rem;
    font-size: 1.2rem!important;
  }
  .footer-block__details-content .list-menu__item--link::before{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  .footer_official span{
    font-size: 1.1rem;
  }
  .footer_official a{
    width: 230px;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_official img{
    max-width: 110px;
  }
  .footer .list-social__item .icon {
    height: 3.5rem;
    width: 3.5rem;
  }
  footer .footer__content-bottom{
    padding-top: 0;
  }
}

/*　セクション　*/
.shopify-section .grid__item{
  padding: 1rem;
}
.card--card, 
.card--standard .card__inner{
  background: transparent;
}
.shopify-section .card__media .media img{
  object-fit: contain;
}

/* ランキング */
.section_ranking{
  background: #FFFCEF;
  padding-top: 10rem;
}
.section_ranking .collection__title{
  text-align: center;
  position: relative
}
.section_ranking .collection__title::before{
  content: '';
  background: url(../assets/sec_titlebg_yellow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section_ranking .collection__title h2.title{
  font-size: 2rem;
}



/* おすすめ */
.section_recommend{
  background: #F5FDFF;
  padding-top: 10rem;
}
.section_recommend .collection__title{
  text-align: center;
  position: relative;
}
.section_recommend .collection__title::before{
  content: '';
  background: url(../assets/sec_titlebg_blue.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section_recommend .collection__title h2.title{
  font-size: 2rem;
}



/* 種類 */
.section-collection-bird{
  background: #FFF7F9;
  padding-top: 10rem;
}
.section-collection-bird .title-wrapper-with-link{
  display: block;
  text-align: center;
}
.section-collection-bird h2.collection-list-title{
  font-size: 2rem;
  position: relative;
}
.section-collection-bird h2.collection-list-title::before{
  content: '';
  background: url(../assets/sec_titlebg_pink.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section-collection-bird .collection__description {
  text-align: center;
}
.section-collection-bird .card__information a{
  background: #C47A8F;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 6px 10px;
}



/* 商品 */
.section-collection-yutoriya{
  background: #F4FFF4;
  padding-top: 10rem;
}
.section-collection-yutoriya .title-wrapper-with-link{
  display: block;
  text-align: center;
}
.section-collection-yutoriya h2.collection-list-title{
  font-size: 2rem;
  position: relative;
}
.section-collection-yutoriya h2.collection-list-title::before{
  content: '';
  background: url(../assets/sec_titlebg_green.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section-collection-yutoriya .collection__description {
  text-align: center;
}
.section-collection-yutoriya .card__information a{
  background: #C47A8F;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 6px 10px;
}



/* ゆとり屋とは */
.section_about{
  background: #EBFBFF;
  padding-top: 10rem;
  position: relative;
}
.section_about::after{
  content: '';
  background: url(../assets/bg_about.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 380px;
}
.section_about .rich-text__heading{
  font-size: 2rem;
  text-align: center;
  position: relative;
}
.section_about .rich-text__heading::before{
  content: '';
  background: url(../assets/sec_titlebg_purple.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}