/* basic */
html, 
body{
  font-family:"Helvetica Neue",　YuGothic, 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
  letter-spacing: 1px;
}
body.homepage{
  background: #FFFBF4;
}
h1, h2, h3, h4, h5, .h0, .h1, .h2, .h3, .h4, .h5{
  font-family: "Helvetica Neue",　YuGothic, 'Noto Sans JP', sans-serif;
}
.icon.icon-close{
  fill: black;
}
a:hover{
  opacity: 0.7;
}
.underline-links-hover:hover .card__heading a{
  color: #EA9573;
}
.collection-list .card__information a{
  background: #C47A8F;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.collection-list__item a:hover{
  background: #935B6B;
  opacity: 1;
}
.collection-list .card__information a .icon-wrap{
  background: white;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  position: relative;
}
span.icon-wrap img {
  max-width: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.collection-list__item a:hover .icon-wrap img{
  left: 56%;
  transition: .5s;
}
.button:not([disabled]):hover::after,
.shopify-challenge__button:hover::after,
.customer button:hover::after,
.shopify-payment-button__button--unbranded:hover::after{
  box-shadow: none;
}
.overflow-hidden-mobile, 
.overflow-hidden-tablet{
  position: fixed;
}
.product .product-form__input input[type='radio'] + label{
  border-radius: 8px;
  border-color: #cccccc;
}
.product .product-form__input input[type='radio']:checked + label{
  background-color: #C47A8F;
  border-color: #c47a8f;
}
.product .product-form__input input[type='radio'] + label:hover{
  border-color: #C47A8F;
}
.button--primary:hover,
.cart__checkout-button.button:hover{
  background: #75957D;
}
button.button--secondary,
a.button--secondary,
.activate button[name=decline], 
.addresses li>button, 
.addresses form button[type]{
  color: black!important;
}
button.button--secondary:after,
a.button--secondary:after{
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
}
.button:not([disabled]).button--secondary:hover::after,
.activate button:hover::after, 
.addresses li>button:hover::after, 
.addresses form button:hover::after{
  box-shadow: 0 0 0 calc(var(--buttons-border-width) + var(--border-offset)) rgba(var(--color-button-text), var(--border-opacity)), 0 0 0 var(--buttons-border-width) rgba(var(--color-button), var(--alpha-button-background));
}
.pages_other footer.footer{
  margin-top: 50px;
}
@media screen and (max-width: 768px){
  .page-width{
    padding: 0 2rem;
  }
}
@media screen and (min-width: 769px){
  .collection-list .card__information a{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 9px 10px;
  }
  .collection-list .card__information a .icon-wrap{
    width: 20px;
    height: 20px;
  }
  span.icon-wrap img {
    max-width: 10px;
  }
  .pages_other footer.footer{
    margin-top: 100px;
  }
}


/* header */
header.header{
  padding-top: 30px;
  padding-bottom: 80px;
  padding-left: 45px;
  padding-right: 40px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#shopify-section-announcement-bar{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 30px;
  right: 20px;
}
.announcement-bar {
  border: none;
}
.announcement-bar__link .announcement-bar__message{
  font-weight: 700;
  font-size: 1.4rem;
}
.announcement-bar__link:hover{
  background-color: transparent;
}
.announcement-bar__link{
  position: relative;
  padding: 0 30px;
}
.announcement-bar__link::before{
  content: '';
  width: 35px;
  height: 35px;
  background: url(../assets/icon_flower1.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: -7%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.announcement-bar:nth-child(even) .announcement-bar__link:before{
  content: '';
  width: 35px;
  height: 35px;
  background: url(../assets/icon_flower2.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  left: -7%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.announcement-bar:nth-child(even) .announcement-bar__link:after{
  content: '';
  width: 18px;
  height: 18px;
  background: url(../assets/icon_link.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);

}
.header__inline-menu{
  background: #FFF8F5;
  border-bottom: 2px solid #EA9573;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 14px 0 6px 0;
  margin-top: 0!important;
}
.header__menu-item span{
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}
.header__icon .icon {
  height: 2.4rem;
  width: 2.4rem;
}
.header__icon--cart .icon{
  height: 2.2rem;
  width: 2.2rem;
}
h1 .header__heading-link{
  padding: 0;
}
.header .cart-count-bubble{
  top: 0.5rem;
  right: 1rem;
}
.header__menu-item:hover + .header__submenu{
  animation: animateMenuOpen var(--duration-default) ease;
  animation-fill-mode: forwards;
  opacity: 1;
  z-index: 1;
}
.header__menu-item:hover span,
details[open] > .header__menu-item{
  text-decoration: none;
}
details[open] > .header__submenu{
  border: none;
  border-bottom: 0;
  width: auto;
  background: transparent;
  padding: 0;
}
details[open] > .header__submenu li{
  background: white;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
details[open] > .header__submenu li:first-child{
  margin-top: 7px;
  border-top: 1px solid #cccccc;
}
details[open] > .header__submenu a {
  text-decoration: none;
  border-bottom: 1px solid #cccccc;
  padding: 1rem;
  font-size: 1.2rem;
}
details[open] > .header__submenu a .menuarrow{
  max-width: 15px;
}
.list-menu--disclosure{
  top: 44px;
}
.header__active-menu-item{
  color: #EA9573;
}
@media screen and (max-width: 768px) {
  header.header{
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    width: 100%;
  }
  main{
    margin-top: 65px;
  }
  .header--mobile-left .header__heading,
  .header--mobile-left .header__heading-link{
    width: 160px;
  }
  #menu-drawer{
    background-color: #FFF8F5;
    width: 100%;
  }
  #menu-drawer .menu-drawer__navigation-container{
    display: block;
    grid-template-rows: none;
    align-content: inherit;
  }
  .header__icon{
    width: 4rem;
  }
  .header__icon .icon {
    height: 2.5rem;
    width: 2.5rem;
  } 
  .header__icons{
    margin-right: 30px;
    margin-left: 20px;
  }
  .header_bar{
    display: flex;
  }
  .menu-drawer{
    width: 100%;
    background: #FFF8F5;
  }
  #menu-drawer.menu-drawer .list-social{
    justify-content: center;
    margin-top: 4rem;
  }
  #shopify-section-announcement-bar{
    display: none;
  }
  .menu-drawer .list-social .list-social__link {
      padding: 0 5px;
  }
  .menu-drawer__utility-links .menu-drawer__account{
    display: block;
    border-bottom: 1px solid #cccccc;
    margin: 0;
    padding: 1.6rem 1.2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .list-social .list-social__item .icon {
    height: 4rem;
    width: 4rem;
  }
  #menu-drawer .menu-drawer__navigation {
    padding: 0.6rem 25px 0;
  }
  #menu-drawer .menu-drawer__navigation .menu-drawer__menu > li{
    border-bottom: 1px solid #cccccc;
  }
  #menu-drawer .menu-drawer__utility-links{
    padding: 0 25px;
    padding-bottom: 100px;
  }
  #menu-drawer .menu-drawer__menu-item {
    padding: 1.6rem 1.2rem;
    position: relative;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
  } 
  .menuarrow{
    max-width: 20px;
    position: absolute;
    right: 10px;
  }
  .menuminus{
    display: none;
    max-width: 17px;
    position: absolute;
    right: 13px;
  }
  .menuplus{
    max-width: 25px;
    position: absolute;
    right: 10px;
  }
  .menu-drawer__menu-item--active, 
  .menu-drawer__menu-item:focus, 
  .menu-drawer__close-button:focus, 
  .menu-drawer__menu-item:hover, 
  .menu-drawer__close-button:hover,
  .menu-drawer__utility-links{
    background-color: transparent!important;
  }
  .js .menu-drawer__navigation .submenu-open{
    visibility: visible!important;
  }
  .js .menu-drawer__submenu{
    position: inherit!important;
  }
  #menu-drawer .menu-drawer__submenu{
    background: #FFF8F5;
    border: none;
  }
  #menu-drawer .menu-drawer__inner-submenu .menu-drawer__menu > li{
    border-bottom: none;
  }
  #menu-drawer .menu-drawer__inner-submenu .menu-drawer__menu > li a{
    font-weight: 400;
    font-size: 1.5rem;
    padding: 0.5rem 0 0.5rem 4rem;
  }
  .has-submenu details[open] .menuplus{
    display: none;
  }
  .has-submenu details[open] .menuminus{
    display: block;
  }
  .bloglink{
    position: relative;
  }
  .bloglink::after{
    content: '';
    background: url(../assets/icon_link.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  
}
@media screen and (min-width: 769px) {
  header .header__heading-logo{
    max-width: 270px;
  }
  header .header__icon{
    width: 6.4rem;
  }
  .header__icon--cart .icon{
    height: 2.5rem;
    width: 2.5rem;
  }
  .header__icon--cart{
    margin-right: -3.2rem;
  }
  .header .cart-count-bubble{
    left: auto;
    right: 1rem;
  }
  .list-menu__item:hover{
    opacity: 1;
  }
  .list-menu__item:hover span{
    color: #EA9573;
    opacity: 1;
  }
  .header__inline-menu li > .list-menu__item{
    position: relative;
    padding-left: 20px;
    font-size: 1.3rem;
  }
  .header__inline-menu li > .list-menu__item::before,
  summary.header__menu-item.list-menu__item.link.focus-inset::before{
    content: '';
    background: #EA9573;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    left: 0;
  }
  .header__inline-menu li details .list-menu__item::before{
    content: none;
  }
  .list-menu--inline{
    position: relative;
  }
  ul.list-menu.list-menu--inline::after{
    content: '';
    background: #EA9573;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  summary.list-menu__item{
    padding-left: 2rem;
  }
}


/* メインビジュアル */
.section_mainvisual{
  background: url(../assets/mv_bg_sp.jpg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}
.section_mainvisual .banner{
  height: 200px;
  bottom: -130px;
  z-index: 2;
}
.section_mainvisual .banner__media{
  background-color: transparent;
}
.section_mainvisual .banner__box{
  position: absolute;
  top: -110px;
  font-size: 2rem;
  background: transparent;
  padding: 4rem 0;
}
.section_mainvisual .image-with-text__text{
  color: black;
  position: relative;
}
.section_mainvisual .image-with-text__text::before{
  content: '';
  background: url(../assets/mv_bg_yellow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 130px;
  position: absolute;
  top: 57%;
  left: 48%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section_mainvisual .banner__box h1{
  color: black;
  font-size: 2.2rem;
  font-weight: 600;
}
.section_mainvisual .banner__box strong{
  color: #F39800;
  font-size: 3rem;
  font-weight: 600;
}
.section_mainvisual .banner__box strong:last-child{
  color: #D96687;
}
@media screen and (max-width: 768px) {
  .section_mainvisual .banner__media > img{
    object-position: left;
    left: -130px!important;
    max-width: none!important;
    width: 140%!important;
  }
}
@media screen and (min-width: 769px) {
  .section_mainvisual{
    background: url(../assets/mv_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 560px;
  }
  .section_mainvisual .banner__box{
    top: -120px;
  }
  .section_mainvisual .banner__media{
    bottom: -40px;
    top: auto;
  }
  .section_mainvisual .banner__content{
    max-width: 1100px;
    margin: 0 auto;
  }
  .section_mainvisual .banner__content::before{
    content: '';
    background: url(../assets/mv_flower_red.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 240px;
    height: 220px;
    position: absolute;
    top: -190px;
    left: 20px;
  }
  .section_mainvisual .banner__content::after{
    content: '';
    background: url(../assets/mv_flower_rose.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 270px;
    height: 240px;
    position: absolute;
    top: -180px;
    right: 30px;
  }
  .section_mainvisual .image-with-text__text{
    font-size: 3rem;
    letter-spacing: 2px;
  }
  .section_mainvisual .banner__box h1{
    font-size: 3.8rem;
    letter-spacing: 4px;
    font-weight: 500;
  }
  .section_mainvisual .banner__box strong{
    font-size: 4.8rem;
  }
  .section_mainvisual .banner{
    height: 330px;
    bottom: -235px;
  }
  .section_mainvisual .banner__media.media > img{
    max-width: 1300px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }
  .section_mainvisual .image-with-text__text::before{
    width: 210px;
    height: 190px;
    top: 30%;
    left: 48%;
  }
}

/* footer */
footer.footer{
  background: #FFEBE3;
  position: relative;
  border-top: none;
}
footer.footer::before{
  content: '';
  background: url(../assets/mv_birds.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 110px;
  display: block;
  position: absolute;
  top: -60px;
}
.footer_contact{
  margin-bottom: 4rem;
}
.footer_contact a{
  color: white;
  background: #F39800;
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 18px 0;
  border-radius: 40px;
  width: 100%;
  max-width: 270px;
  font-size: 1.7rem;
  margin: 0 auto;
}
.footer_contact a:hover{
  background: #BF7801;
  opacity: 1;
}
.footer_official{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_official a{
  width: 100%;
  padding: 2.5rem 0;
  background: white;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 1rem;
}
.footer_official span{
  font-size: 1.4rem;
  color: black;
}
.footer_official img{
  max-width: 170px;
}
footer .footer-block--newsletter{
  margin-top: 5rem;
}
.footer .list-social__item .icon {
  height: 5rem;
  width: 5rem;
}
.footer__copyright{
  color: #EA9573;
  margin-bottom: 10rem;
  font-size: 1.6rem;
}
.smoothscroll-top{
  position: fixed;
  bottom: 50px;
  right: 20px;
  display: none;
  background: url(../assets/page_top.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 150px;
  z-index: 2;
}
footer .footer__content-top{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 0;
  margin-top: 4rem;
}
.footer__content-bottom{
  border-top: none;
  padding-top: 0;
}
.footer .list-social__link{
  padding:0 0.5rem;
}
.footer-block.grid__item{
  margin-top: 5rem;
}
.footer-block__details-content .list-menu__item--link{
  color: black!important;
}
.footer-block__details-content .list-menu__item--link::before{
  content: '';
  background: url(../assets/icon_flower3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}
footer .footer__content-bottom{
  border-top: none;
}
footer .footer__localization:empty + .footer__column{
  padding-top: 0;
}
.btn_arrow:hover{
  opacity: 1;
}
.btn_arrow{
  position: relative;
  font-size: 2rem;
  font-family: "Helvetica Neue",　YuGothic, 'Noto Sans JP', sans-serif;
}
.btn_arrow::after{
  content: '';
  background: url(../assets/icon_arrow_wh.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 13px;
  display: block;
  position: absolute;
  left: auto;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.section_ranking .btn_arrow:hover,
.collection-list-view-all .btn_arrow:hover,
.section_about .btn_arrow:hover{
  background: #75957D;
}

@media screen and (max-width: 768px){
  .btn_arrow{
    width: 100%;
    padding: 1.9rem 3rem;
  }
  .footer .footer-block.grid__item{
    position: relative;
  }
  .footer .footer-block.grid__item::after{
    content: '';
    background: url(../assets/bird-b-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 130px;
    height: 120px;
    display: block;
    position: absolute;
    top: 10px;
    left: auto;
    right: -20px;
  }

}
@media screen and (min-width: 769px){
  .btn_arrow{
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 2.5rem 3rem;
    max-width: 400px;
    width: 100%;
  }
  .btn_arrow::after{
    width: 13px;
    height: 11px;
  }
  .btn_arrow .only_sp{
    display: none;
  }
  .btn_arrow:hover::after{
    right: 13px;
    transition: .5s;
  }
  footer.footer::before{
    height: 280px;
    top: -70px;
  }
  footer .footer__content-top{
    margin-top: 19rem;
    max-width: 1020px;
  }
  .smoothscroll-top{
    height: 135px;
    right: 70px;
  }
  footer .footer-block--newsletter {
    margin-top: 0rem;
  }
  .footer_contact a{
    padding: 18px 0;
    max-width: 280px;
    margin-left: 1rem;
  }
  .footer_official a{
    width: 280px;
    height: 72px;
  }
  .footer_official a span{
    font-size: 1.2rem;
  }
  .footer_flex{
    display: flex;
    justify-content: space-between;
  }
  .footer-block__details-content .list-menu__item--link{
    position: relative;
    padding-left: 2.5rem;
    font-size: 1.4rem!important;
  }
  .footer-block__details-content .list-menu__item--link::before{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  }
  .footer_official span{
    font-size: 1.3rem;
  }
  .footer_official a{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_official img{
    max-width: 140px;
  }
  .footer .list-social__item .icon {
    height: 4rem;
    width: 4rem;
  }
  footer .footer__content-bottom{
    padding-top: 0;
  }
  .footer .footer__list-social{
    position: relative;
  }
  .footer .footer__list-social::before{
    content: '';
    background: url(../assets/bird-b-4.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 180px;
    display: block;
    position: absolute;
    top: -10px;
    left: 60px;
    right: auto;
  }
  .footer .footer__list-social::after{
    content: '';
    background: url(../assets/bird-b-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    display: block;
    position: absolute;
    top: -10px;
    left: auto;
    right: -20px;
  }
  .footer-block:only-child:last-child{
    padding: 0 1.5rem 1.5rem 0;
  }
}

/*　セクション　*/
.shopify-section .grid__item{
  padding: 1rem 1.5rem;
  position: relative;
}
.card--card, 
.card--standard .card__inner{
  background: transparent;
}
.shopify-section .card__media .media img{
  object-fit: contain;
}
.price--sold-out .price__availability, 
.price__regular,
.price:not(.price--show-badge) .price-item--last:last-of-type{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
  font-weight: 600;
  font-size: 1.6rem;
  width: 100%;
  padding: 0.5rem 0;
}
.collection__description{
  margin-bottom: 2rem;
}
.collection__description p{
  line-height: 2.5;
  font-size: 1.5rem;
  color: black;
}
.collection__title.title-wrapper{
  margin-bottom: 9rem;
}
.card .card__information .price__container{
  display: block;
  text-align: center;
  font-family: 'Noto Sans JP';
}
.card .card__content{
  overflow: hidden;
}
.card .card__badge{
  flex: none;
  display: block;
}
.badge.sale{
  background: #FF4040;
  border: none;
  border-radius: 0;
  font-family: 'Noto Sans JP';
  font-weight: 500;
  transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  padding: 3px 44px;
  display: block;
  width: 100%;
  position: absolute;
  left: -90px;
}
.card:hover .media.media--hover-effect > img:first-child:only-child, 
.card-wrapper:hover .media.media--hover-effect > img:first-child:only-child{
  transform: scale(1)!important;
  opacity: 0.7;
}
.price .price-item span{
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: -0.06em;
}
.price .price-item span:first-child{
  font-weight: 500;
  font-size: 1.6rem;
  margin-left: -0.6rem;
}
.price s.price-item span{
  font-size: 1.2rem!important;
}
.collection .card:not(.ratio) > .card__content{
  height: 170px;
}
.collection .card--standard > .card__content .card__information{
  display: flex;
  flex-direction: column;
}
.collection .card--standard > .card__content .card__information > .card-information{
  margin-top: auto;
}
.price--on-sale .price-item--regular{
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 768px){
  .collection__description p{
    text-align: left;
    line-height: 1.5;
  }
  .collection__description p br{
    display: none;
  }
}
@media screen and (min-width: 769px){
  .collection__description p{
    text-align: center;
    font-size: 1.6rem;
  }
  .badge.sale{
    font-size: 1.5rem;
  }
  .card .card__badge{
    
  }
}


/* ランキング */
.section_ranking{
  background: #FFFCEF;
  padding-top: 6rem;
  padding-bottom: 10rem;
}
.section_ranking .collection__title.title-wrapper{
  text-align: center;
  position: relative;
  margin-bottom: 10rem!important;
}
.section_ranking .collection__title::before{
  content: '';
  background: url(../assets/sec_titlebg_yellow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section_ranking .collection__title h2.title{
  font-size: 2.2rem;
  margin: 4rem 0;
}
.section_ranking.shopify-section .grid__item{
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.section_ranking .grid__item::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.section_ranking .grid__item:first-child::after {
  background-size: contain;
  background-image: url(../assets/icon-ranking1.png);
}
.section_ranking .grid__item:nth-child(2)::after {
  background-image: url(../assets/icon-ranking2.png);
  background-size: contain;
}
.section_ranking .grid__item:nth-child(3)::after {
  background-image: url(../assets/icon-ranking3.png);
  background-size: contain;
}
.section_ranking .grid__item:nth-child(4)::after {
  background-image: url(../assets/icon-ranking4.png);
  background-size: contain;
  max-width: 35px;
  max-height: 35px;
  top: -15px;
}
.section_ranking .grid__item:nth-child(5)::after {
  background-image: url(../assets/icon-ranking5.png);
  background-size: contain;
  max-width: 35px;
  max-height: 35px;
  top: -15px;
}
.section_ranking .ranking_list{
  position: relative;
}
.section_ranking .ranking_list::before{
  content: '';
  background: url(../assets/sec_bg_green.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 350px;
  height: 350px;
  position: absolute;
  top: -110px;
  left: -130px;
}
.section_ranking .ranking_list::after{
  content: '';
  background: url(../assets/bg_flower1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 210px;
  height: 210px;
  position: absolute;
  bottom: -190px;
  left: 10px;
}
.section_ranking .badge.sale{
  left: -45px;
}
@media screen and (max-width: 768px){
  .section_ranking .collection__view-all{
    width: 49%;
    text-align: left;
    display: flex;
    align-items: center;
  }
  .section_ranking .collection__view-all .btn_arrow{
    margin-top: 0;
    padding: 1.5rem 0rem;
    width: 90%;
    margin-left: auto;
  }
}
@media screen and (min-width: 769px){
  .section_ranking{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .section_ranking .collection__title h2.title{
    font-size: 2.5rem;
    letter-spacing: 2px;
  }
  .section_ranking .collection__title::before{
    width: 180px;
    height: 180px;
  }
  .section_ranking .ranking_list::before{
    width: 490px;
    height: 490px;
    position: absolute;
    top: -170px;
  }
  .section_ranking .ranking_list::after{
    width: 240px;
    height: 240px;
    position: absolute;
    bottom: -210px;
    left: 30px;
  }
  .section_ranking .collection__title.title-wrapper{
    margin-bottom: 13rem!important;
  }
  .section_ranking.shopify-section .grid__item{
    padding-top: 4.5rem;
  }
  .section_ranking .grid__item::after{
    width: 53px;
    height: 53px;
  }
  .section_ranking .grid__item:nth-child(4)::after,
  .section_ranking .grid__item:nth-child(5)::after{
    max-width: 45px;
    max-height: 45px;
  }
  .section_ranking .collection__view-all{
    width: 100%;
  }
  .section_ranking .card .card__badge{
    top: -80px;
  }
  .section_ranking .ranking_list::after{
    width: 290px;
    height: 280px;
    position: absolute;
    bottom: -200px;
    left: -60px;
  }
  .section_ranking .badge.sale{
    left: -65px;
  }
}





/* おすすめ */
.section_recommend{
  background: #F5FDFF;
  padding-top: 15rem;
  padding-bottom: 7rem;
}
.section_recommend .collection__title{
  text-align: center;
  position: relative;
  margin: 4rem auto;
}
.section_recommend .collection__title.title-wrapper{
  margin-bottom: 6rem;
}
.section_recommend .collection__title::before{
  content: '';
  background: url(../assets/sec_titlebg_blue.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section_recommend .collection__title::after{
  content: '';
  background: url(../assets/bird-crown.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 180px;
  height: 180px;
  position: absolute;
  top: -240px;
  right: -35px;
}
.section_recommend .collection__title h2.title{
  font-size: 2.2rem;
}
.collection .card__information a{
  background: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  line-height: 1.8;
}
.label_tags{
  color: black;
  display: inline-block;
  font-size: 1.2rem;
  padding-left: 2.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.label_tags::before{
  content: '';
  background: url(../assets/icon_tag.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 18px;
  height: 17px;
  position: absolute;
  top: 0;
  left: 0;
}
.section_recommend.shopify-section .grid__item{
  max-width: 150px;
  min-width: 120px;
  padding: 0 1rem 0 0;
}
.section_recommend .badge.sale{
  left: -50px;
}
@media screen and (min-width: 769px){
  .section_recommend{
    padding-top: 9rem;
    padding-bottom: 13rem;
  }
  .section_recommend .collection__title h2.title{
    font-size: 2.7rem;
    letter-spacing: 4px;
  }
  .section_recommend .collection__title::before{
    top: 17%;
    width: 220px;
    height: 220px;
  }
  .section_recommend .collection__title::after{
    width: 220px;
    height: 260px;
    top: -160px;
    right: -70px;
  }
  .section_recommend.shopify-section .grid__item{
    max-width: 190px;
    padding: 0 1rem;
  }
  .section_recommend .collection__title.title-wrapper{
    margin-bottom: 9rem;
  }
  .label_tags{
    font-size: 1.4rem;
  }
  .section_recommend .card .card__badge{
    top: -80px;
  }
  .section_recommend .badge.sale{
    left: -70px;
  }
}



/* Swiper */
.swiper-button-prev:after, 
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, 
.swiper-rtl .swiper-button-prev:after{
  display: none;
}
.slider-button img{
  width: 100%;
}
.swiper-button-next img{
  transform: rotate(180deg);
}
.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled {
  opacity: 0!important;
}
.section_recommend .slider-button{
  width: 50px;
  height: 50px;
  top: 58%;
  display: block;
}
.swiper.r-swiper{
  max-width: 90%;
}
.p-swiper .swiper-horizontal>.swiper-pagination-bullets, 
.p-swiper .swiper-pagination-bullets.swiper-pagination-horizontal, 
.p-swiper .swiper-pagination-custom, 
.p-swiper .swiper-pagination-fraction{
    bottom: 0;
}
.product__media-list.swiper-wrapper{
    list-style: none;
    padding: 0px;
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
}
@media screen and (max-width: 768px){
  .swiper.r-swiper{
    margin-top: 4rem;
  }
}
@media screen and (min-width: 769px){
  .section_recommend .slider-button{
    top: 60%;
  }
  .section_recommend .r-prev{
    left: 40px;
  }
  .section_recommend .r-next{
    right: 40px;
  }
  .swiper.r-swiper{
    max-width: 900px;
  }
}


/* 種類 */
.section-collection-bird{
  background: #FFF7F9;
  padding-top: 12rem;
  padding-bottom: 19rem;
  position: relative;
  z-index: 1;
}
.section-collection-bird .collection-list-wrapper::after{
  content: '';
  background: url(../assets/bg_flower3.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: -190px;
  right: 0;
}
.section-collection-bird .title-wrapper-with-link{
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 6rem;
}
.section-collection-bird .title-wrapper-with-link::before{
  content: '';
  background: url(../assets/bg_flower2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 190px;
  height: 210px;
  position: absolute;
  top: -220px;
  left: -20px;
}
.section-collection-bird h2.collection-list-title{
  font-size: 2.2rem;
  position: relative;
  margin: 4rem 0;
}
.section-collection-bird h2.collection-list-title::before{
  content: '';
  background: url(../assets/sec_titlebg_pink.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
@media screen and (max-width: 768px){
  .shopify-section.section-collection-bird .grid__item{
    padding: 1rem 0.5rem;
  }
  .shopify-section.section-collection-bird .collection-list-view-all{
    margin-top: 4rem;
  }
}
@media screen and (min-width: 769px){
  .section-collection-bird{
    padding-top: 14rem;
    padding-bottom: 9rem;
  }
  .section-collection-bird h2.collection-list-title{
    font-size: 2.7rem;
    letter-spacing: 4px;
  }
  .section-collection-bird h2.collection-list-title::before{
    top: 10%;
    width: 230px;
    height: 200px;
  }
  .section-collection-bird .collection-list-wrapper::after{
    width: 270px;
    height: 280px;
    position: absolute;
    bottom: -150px;
    right: -50px;
    z-index: 2;
  }
  .section-collection-bird .collection__description {
    text-align: center;
  }
  .section-collection-bird .title-wrapper-with-link{
    margin-bottom: 9rem;
  }
  .section-collection-bird .title-wrapper-with-link::before{
    width: 290px;
    height: 330px;
    top: -260px;
    left: -70px;
  }
  .section-collection-bird .card .media.media--hover-effect > img:only-child, 
  .section-collection-bird .card-wrapper .media.media--hover-effect > img:only-child{
    padding: 2rem 0;
    opacity: 1!important;
  }
  .section-collection-bird .collection-list-view-all{
    margin-top: 6rem;
  }
}



/* 商品 */
.section-collection-yutoriya{
  background: #F4FFF4;
  padding-top: 10rem;
  padding-bottom: 8rem;
  position: relative;
  z-index: 1;
}
.section-collection-yutoriya .title-wrapper-with-link{
  display: block;
  text-align: center;
  margin-bottom: 9rem;
}
.section-collection-yutoriya h2.collection-list-title{
  font-size: 2.2rem;
  position: relative;
  margin: 4rem 0;
}
.section-collection-yutoriya h2.collection-list-title::before{
  content: '';
  background: url(../assets/sec_titlebg_green.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section-collection-yutoriya .collection__description {
  text-align: center;
  margin-bottom: 2rem;
}
@media screen and (max-width: 768px){
  .section-collection-yutoriya::before{
    content: '';
    background: url(../assets/bird-honey.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 160px;
    height: 160px;
    position: absolute;
    top: -90px;
    left: 30px;
  }
  .shopify-section.section-collection-yutoriya .grid__item{
    padding: 1rem 0.5rem;
  }
}
@media screen and (min-width: 769px){
  .section-collection-yutoriya{
    padding-bottom: 12rem;
  }
  .section-collection-yutoriya h2.collection-list-title{
    font-size: 2.7rem;
    letter-spacing: 4px;
  }
  .section-collection-yutoriya .title-wrapper-with-link{
    margin-bottom: 11rem;
  }
  .section-collection-yutoriya h2.collection-list-title::before{
    width: 210px;
    height: 210px;
  }
  .section-collection-yutoriya h2.collection-list-title::after{
    content: '';
    background: url(../assets/bird-honey.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -30px;
    left: -90px;
  }
  .section-collection-yutoriya .card .media.media--hover-effect > img:only-child, 
  .section-collection-yutoriya .card-wrapper .media.media--hover-effect > img:only-child{
    opacity: 1!important;
  }
}




/* ゆとり屋とは */
.section_about{
  background: #EBFBFF;
  padding-top: 5rem;
  position: relative;
}
.section_about::after{
  content: '';
  background: url(../assets/bg_about.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 260px;
}
.section_about .rich-text__heading{
  font-size: 2.2rem;
  text-align: center;
  position: relative;
  margin: 4rem 0 7rem;
}
.section_about .rich-text__heading::before{
  content: '';
  background: url(../assets/sec_titlebg_purple.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: -1;
}
.section_about .rich-text__text{
  margin-bottom: 2rem;
}
.section_about .rich-text__text p{
  line-height: 1.5;
  font-size: 1.5rem;
  color: black;
}
@media screen and (max-width: 768px){
  .section_about::after{
    content: '';
    background: url(../assets/yellow.png);
    background-size: cover;
    background-position: left 44% bottom;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 310px;
  }
  .section_about .rich-text__text p br{
    display: none;
  }
}
@media screen and (min-width: 769px){
  .section_about{
    padding-top: 10rem;
  }
  .section_about::after{
    background-size: contain;
    height: 380px;
  }
  .section_about .rich-text__heading::before{
    width: 240px;
    height: 220px;
    top: 30%;
  }
  .section_about .rich-text__text p{
    line-height: 2.5;
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 1300px){
  .section_about::after{
    content: '';
    background: url(../assets/bg_about1000.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 460px;
  }
  .section_about .rich-text__heading{
    font-size: 2.7rem;
    letter-spacing: 4px;
  }
  .section_about .rich-text__text{
    margin-top: 12rem;
  }
}


/* お知らせ */
.blog{
  background: white;
  padding-bottom: 6rem;
}
.blog .blog__posts.articles-wrapper{
  display: block;
  padding: 0 1.5rem;
}
.blog .card__information a{
  color: black;
  background: no-repeat;
  font-size: inherit;
  font-weight: normal;
  padding: 0;
}
.blog .underline-links-hover:hover .card__information a{
  text-decoration: none;
}
.blog .blog__title{
  font-size: 2.8rem;
}
.blog .subtitle{
  color: #F3D3C7;
  font-family: 'Noto Sans JP';
  font-weight: 400;
  font-size: 1.5rem;
}
.blog .title-wrapper-with-link{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}
.blog .title-wrapper-with-link::after{
  content: '';
  background: url(../assets/bg_flower4.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 150px;
  height: 140px;
  position: absolute;
  top: -40px;
  right: 40px;
}
.blog__posts.articles-wrapper .article {
  scroll-snap-align: start;
  width: 100%;
  max-width: 100%;
}
.blog .article-card .card__heading{
  margin-bottom: 0;
}
.blog .article-card__info{
  font-family: 'Noto Sans JP';
  margin-bottom: 1rem;
  padding: 0;
}
.blog .card__.blog-articles .article-card .card__information, 
.blog .blog__posts .article-card .card__information{
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #ccc;
}
.blog .grid--peek.slider .grid__item:first-of-type{
  margin-left: 0;
}
.blog .page-width-desktop{
  padding: 7rem 0 0;
}
.blog .ratio::before{
  content: none;
}
.article-template .article-template__hero-container{
  margin: 5rem auto;
  max-width: 320px;
  max-height: 320px;
}
.article-template .article-template__hero-container .article-template__hero-adapt{
  background: white;
}
.article-template__back {
  padding: 0 2rem;
}
@media screen and (min-width: 769px){
  .blog{
    padding-bottom: 9rem;
  }
  .blog .page-width-desktop{
    display: flex;
    justify-content: center;
    max-width: 1100px;
  }
  .blog .title-wrapper-with-link{
    flex-direction: row;
    width: 30%;
    margin-top: 2rem;
    max-height: 30px;
    align-items: center;
  }
  .blog .title-wrapper-with-link::after{
    width: 230px;
    height: 210px;
    position: absolute;
    top: auto;
    right: auto;
    left: 0;
    bottom: -240px;
  }
  .blog .blog__posts.articles-wrapper{
    width: 70%;
  }
  .blog .card__information{
    display: flex;
    align-items: center;
  }
  .blog .article-card__info{
    margin: 0;
  }
  .blog .card__information a{
    font-size: 1.6rem;
    margin-left: 2rem;
  }
  .article-template .article-template__hero-container{
    margin: 10rem auto;
    max-width: 650px;
    max-height: 650px;
  }
  .article-template__back{
    max-width: 320px;
    margin: 5rem auto;
  }
}

/* Instagram */
.homepage .section_app{
  background: #FFFBF4;
  padding-top: 15rem;
  padding-bottom: 8rem;
}
#insta-feed h2{
  position: relative;
  font-size: 2.2rem!important;
  margin-bottom: 6rem!important;
}
#insta-feed h2::before{
  content: '';
  background: url(../assets/bg_icon-ig.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 0;
}
.app_instagram{
  position: relative;
}
.app_instagram::before{
  content: '';
  background: url(../assets/bird-honey2.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 160px;
  height: 150px;
  position: absolute;
  top: -210px;
  left: 53%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
#insta-feed a:nth-child(n + 10) , 
  .instafeed-shopify a:nth-child(n + 10) {
    display: none;
  }
@media screen and (min-width: 769px){
  .homepage .section_app{
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  #insta-feed h2{
    font-size: 2.7rem!important;
    letter-spacing: 4px;
    margin-bottom: 10rem!important;
  }
  #insta-feed h2::before{
    width: 110px;
    height: 110px;
  }
  .app_instagram::before{
    content: '';
    background: url(../assets/bird-honey2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: 220px;
    height: 210px;
    position: absolute;
    top: -160px;
    left: auto;
    right: -100px;
    z-index: 0;
  }
  #insta-feed .instafeed-container, 
  .instafeed-shopify .instafeed-container{
    width: 25%!important;
    padding-top: 25%!important;
  }
  
}


/* 翻訳アプリ */
.wg-default, .wg-default .country-selector{
  right: 0!important;
}
.wg-drop.country-selector .wgcurrent{
  padding: 0.5rem 1rem;
}
.wg-drop.country-selector .wgcurrent:after{
  top: 5px!important;
}

/* ログインアプリ */
.section_app .app_login{
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.app_login .privacy-message{
  font-size: 13px;
}
.app_login .privacy-message a{
  color: #EA9573;
  text-decoration: underline;
}
@media screen and (min-width: 769px){
  .section_app .app_login{
    max-width: 720px;
  }
}


/* 商品詳細ページ */
.product .product__title{
  font-size: 3rem;
}
.product__info-container .product-form,
.product__info-container .product__description{
  line-height: 1.4;
}
.product .price--sold-out .price__availability, 
.product .price__regular, 
.product .price:not(.price--show-badge) .price-item--last:last-of-type{
  border-top: none;
  border-bottom: none;
  font-size: 2rem;
}
.product .thumbnail[aria-current]{
  box-shadow: 0 0 0 0.1rem #EA9573;
  border-color: #EA9573;
}
.product .thumbnail[aria-current]:focus:not(:focus-visible){
  box-shadow: 0 0 0 0.1rem #EA9573;
}
.product .price.price--sold-out .price__badge-sold-out{
  background: #ccc;
  color: #555;
  border-color: transparent;
  border-radius: 0;
}
.product .badge.price__badge-sale{
  background: #FF4040;
  border-color: #FF4040;
  border-radius: 0;
}
.p-swiper .swiper-pagination-bullet-active{
  background: #EA9573;
}
.quantity__input:focus{
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}
.product #_ngc_stock_notice_btn{
  height: 47px;
  font-size: 1.6rem;
  background-color: #EA9573;
  color: #FFFFFF;
  border-radius: 40px;
  border: 1px solid#FFFFFF;
  width: 100%;
}
.ngc__modal__smsEmail{
  justify-content: space-evenly;
}
.ngc__modal__smsEmail .ngc__modal__btnEmail, 
.ngc__modal__smsEmail .ngc__modal__btnSMS, 
.ngc__modal__smsEmail .ngc__modal__btnLINE{
  width: 48%;
}
.cart__ctas button{
  min-height: 54px;
}
.ngc__modal__inner button{
  border-radius: 20px;
}
.ngc__modal__inner button.ngc__modal__btn-submit__email{
  background: #EA9573;
  margin-bottom: 1rem;
}
.stamped-pagination a{
  color: black;
}
.stamped-reviews-nav, 
.stamped-reviews-ul, 
nav.stamped-reviews{
  margin-top: 2rem!important;
}
.product-recommendations .badge.sale{
  left: -45px;
}
@media screen and (min-width: 769px){
  .product-recommendations .card .card__badge{
    top: -110px;
  }
  .product .price s.price-item span {
      font-size: 1.6rem!important;
  }
  .product__info-container .price--on-sale .price-item--regular{
    color: #888;
  }
  .cart__blocks .shopify-cleanslate ul{
    flex-direction: column !important;
  }
  .cart__blocks .shopify-cleanslate ul li{
    flex-basis: 54px !important;
  }
  .cart__blocks .shopify-cleanslate ul li div{
    height: 54px !important;
  }
  .product-recommendations .badge.sale{
    left: -95px;
  }
  .stamped-container .new-review-form.stamped-visible{
    border: 1px solid rgba(221, 221, 221, 0.3)!important;
    padding: 15px;
    max-width: 720px;
    margin: 1rem auto!important;
  }
  #stamped-reviews-widget[data-widget-type="top-rated"] .stamped-ratings-wrapper:hover .stamped-style-color-link{
    color: #EA9573!important;
    text-decoration: underline;
  }
}


/* 下層ページ */
.facets-container .facet-filters__label{
  display: none;
}
.facets-container .facets__form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.facets-container .product-count__text{
  font-size: 1.6rem;
}
.facets-container .facet-filters__sort:focus-visible{
  outline: none;
  box-shadow: none;
}
.search .field__label{
  display: none;
}
.search .field__input:focus, 
.search .field__input:not(:placeholder-shown), 
.search .field__input:-webkit-autofill, 
.search .customer .field input:focus, 
.search .customer .field input:not(:placeholder-shown), 
.search .customer .field input:-webkit-autofill{
  padding: 0.8rem 1.5rem 0.8rem 2rem;
}
.search-modal__content .search__button .icon{
  height: 2.5rem;
  width: 2.5rem;
}
.template-search .card__badge{
  top: 0;
  left: 0;
}
.template-search__header p{
  text-align: left;
}
.cart-items .cart__warnings{
  padding: 3rem 0 8rem;
}
.main-page-title{
  font-size: 2.5rem;
  letter-spacing: 4px;
  margin-top: 1rem!important;
}
.page_law{
  margin-bottom: 5rem;
}
.about{
  margin-bottom: 5rem;
}
.about p{
  line-height: 1.8;
}
.rte table td{
  padding: 1.2rem;
  width: 100%;
  line-height: 1.5;
}
.wrap_document{
  line-height: 1.5;
}
.wrap_document h2{
  margin-bottom: 2rem;
  font-size: 2rem;
}
.wrap_document p, ol{
  margin-bottom: 2.5rem;
}
.page_ranking .collection{
  margin-top: 5rem;
}
.page_ranking .shopify-section .grid__item{
  padding-top: 3rem;
  margin-bottom: 2rem;
}
.page_ranking .grid__item::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  display: block;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  z-index: 2;
}
.page_ranking .grid__item:first-child::after {
  background-size: contain;
  background-image: url(../assets/icon-ranking1.png);
}
.page_ranking .grid__item:nth-child(2)::after {
  background-image: url(../assets/icon-ranking2.png);
  background-size: contain;
}
.page_ranking .grid__item:nth-child(3)::after {
  background-image: url(../assets/icon-ranking3.png);
  background-size: contain;
}
.page_ranking .grid__item:nth-child(4)::after {
  background-image: url(../assets/icon-ranking4.png);
  background-size: contain;
  max-width: 35px;
  max-height: 35px;
  top: -15px;
}
.page_ranking .grid__item:nth-child(5)::after {
  background-image: url(../assets/icon-ranking5.png);
  background-size: contain;
  max-width: 35px;
  max-height: 35px;
  top: -15px;
}
@media screen and (max-width: 768px){
  .rte table tr{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .rte table td.column-1{
    background: #f1f1f1;
  }

}
@media screen and (min-width: 769px){
  cart-items .cart__warnings{
    padding: 7rem 0;
  }
  .main-page-title{
    font-size: 3rem;
    letter-spacing: 4px;
  }
  .page_law{
    margin-bottom: 10rem;
  }
  .about{
    margin-bottom: 10rem;
    text-align: center;
  }
  .rte table td{
    padding: 2rem 0;
    border-bottom: 1px solid #ccc;
  }
  .rte table td.column-1{
    width: 35%;
  }
  .rte table td.column-2{
    width: 65%;
  }
  .page_ranking .shopify-section .grid__item {
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
  .page_ranking .ranking_list::after{
    width: 240px;
    height: 240px;
    position: absolute;
    bottom: -210px;
    left: 30px;
  }
  .page_ranking .grid__item::after{
    width: 53px;
    height: 53px;
  }
  .page_ranking .grid__item:nth-child(4)::after,
  .page_ranking .grid__item:nth-child(5)::after{
    max-width: 45px;
    max-height: 45px;
  }
}

/* review */
.stamped-widget-poweredby{
  display: none;
}
.new-review-form.stamped-visible{
  padding-top: 2rem!important;
  border-radius: 10px;
}
.stamped-content .new-review-form label{
  color: #FF4040;
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}
.stamped-container input:focus, 
.stamped-container select, 
.stamped-container textarea:focus, 
[data-widget-style=slider] .slick-list:focus{
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
select#stamped-sort-select{
  border-top: 1px solid #eee!important;
}
.stamped-reviews-filter{
  margin-top: 2rem;
}
#stamped-button-submit, 
input.stamped-button.stamped-button-primary.button.button-primary.btn.btn-primary{
  background: #93BA9D;
}
div[data-widget-style*=standard] .stamped-tab-container{
  margin-bottom: 2rem;
}
.stamped-summary-actions-clear, 
.stamped-summary-actions-mobile-filter, 
.stamped-summary-actions-newquestion, 
.stamped-summary-actions-newreview{
  box-shadow: none!important;
}
#stamped-reviews-widget[data-widget-type="top-rated"] .stamped-top-rated-buttons{
  float: none;
  display: flex;
  justify-content: space-between;
}
#stamped-reviews-widget[data-widget-type="top-rated"] .stamped-top-rated-button-left:before{
  content: ''!important;
  background: url(../assets/icon_menuarrow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}
#stamped-reviews-widget[data-widget-type="top-rated"] .stamped-top-rated-button-right:before{
  content: ''!important;
  background: url(../assets/icon_menuarrow.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 30px;
}
#reviewRating{
  display: none;
}

/* アカウント */
.customer{
  margin-bottom: 5rem;
}
.customer.order :is(.account,.order) h2{
  font-size: 2rem;
}
.customer.order :is(.account,.order) p{
  line-height: 1.5;
}
@media screen and (max-width: 768px){
  .addresses form .sp_wide button{
    max-width: none;
    width: 100%;
  }
}
@media screen and (min-width: 769px){
  .customer{
    margin-bottom: 8rem;
  }
}